<div>
    <div class="exp" >
        <div class="all" >
            <div class="card">
                <div class="imgBx">
                    <img src="../../../assets/imgs/Smart.png" alt="" srcset="">
                </div>
                <div class="content">
                    <div class="details">
                        
                        <h2>Smart Transformation <br> <span>Senior UX/UI</span> </h2>
                        <div class="data">
                            <h3>Lieu <span> Fes</span></h3>
                            <h3>300<span>Testing</span></h3>
                            <h3>313<span>Posting</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button >Follow</button>
                            <button>Message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="../../../assets/imgs/Smart.png" alt="" srcset="">
                </div>
                <div class="content">
                    <div class="details">
                        
                        <h2>Smart Transformation <br> <span>Senior UX/UI</span> </h2>
                        <div class="data">
                            <h3>Lieu <span> Fes</span></h3>
                            <h3>300<span>Testing</span></h3>
                            <h3>313<span>Posting</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button >Follow</button>
                            <button>Message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="../../../assets/imgs/Smart.png" alt="" srcset="">
                </div>
                <div class="content">
                    <div class="details">
                        
                        <h2>Smart Transformation <br> <span>Senior UX/UI</span> </h2>
                        <div class="data">
                            <h3>Lieu <span> Fes</span></h3>
                            <h3>300<span>Testing</span></h3>
                            <h3>313<span>Posting</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button >Follow</button>
                            <button>Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
